<!DOCTYPE html>
<html lang="ja">

<head>
	<meta charset="UTF-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<title>Sandbox01</title>
	<script type="module" src="/sandbox01/index.js"></script>
</head>

<body>
	<main>
		<h1>Sandbox01</h1>

		<div>
			<div>
				<label>value01:
					<input id="value01" value="aa">
				</label>
			</div>
			<div>
				<label>value02:
					<input id="value02" value="bb">
				</label>
			</div>
			<div>
				<button id="get1Button">get1</button>
				<button id="post1Button">post1</button>
			</div>

		</div>
	</main>
</body>

</html>