<!DOCTYPE html>
<html lang="ja">

<head>
	<meta charset="UTF-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<title>Sandbox01</title>
	<script type="module" src="/sandbox01/index.js"></script>
</head>

<body>
	<main>
		<h1>Sandbox01</h1>

		<div>
			<div>
				<label>message:
					<input id="message" value="aa">
				</label>
			</div>
			<div>
				<label>code:
					<select id="code">
						<option value="0" selected>commit</option>
						<option value="1" >rollback</option>
					</select>
				</label>
			</div>
			<div>
				<button id="registerButton">登録</button>
			</div>

		</div>
	</main>
</body>

</html>